*{
    margin: 0;
    padding: 0;
}


.heading{
    background-image: url(images/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.top-section{
display: flex;
justify-content: space-between;

color: white;
padding: 20px 70px;


}

.coloring{
color: tomato;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2rem;
  }
  .ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .btn{
padding: 8px 15px;
background-color: tomato;
border: 0;
margin-top: 8px;
  }
  .head-middle{
      text-align: center;
      margin-top: 100px;
      color: white;
  }
  .head-middle h1{
      font-size: 4rem;
  }
  .head-middle h3{
      margin-bottom: 10px;
  }
  .btn1{
    padding: 15px 30px;  
    color: white;
    font-size: 1rem;
    margin-bottom: 200px;
  }

  /* program section.............. */
  .program-section,.forth-section{
      margin-top: 100px;
  }
  .program-top{
      text-align: center;
  }
  .programs{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-gap: 15px;
      padding: 70px;
  }
.program{
    display: flex;

}
.program p{
    color: gray;
}
  .program-icon{
      color: white;
      width: 87px;
      height: 70px;
      display: flex;
      justify-content: center;
      font-size: 1.5rem;
      align-items: center;
      margin-right: 20px;
      border-radius: 5px;
      background-color: tomato;
  }
  .program-info h1{
font-size: 1.2rem;
}
#discover-more{
    text-decoration: none;
    color: tomato;
}
/* third-section */
.third-section{
background-image: url(images/bg3.jpg);
background-repeat: no-repeat;
background-size: cover;
padding-top: 100px;
padding-bottom: 100px;
text-align: center;

}
.third-section h1{
    color: white;
    font-size: 2rem;
}
.third-section p{
    color: white;
}
.btn2{
    background-color: tomato;
    padding: 15px 30px;  
    color: white;
    font-size: 1rem;
    margin-bottom: 0px;
}
/*third section ends here */
.card{
    color: black;
    display: flex;
    border: 2px solid gray;
    width: 250px;
    padding: 20px;
    font-size: .8rem;
    box-shadow: gray 2px 2px 4px;
    margin-bottom: 10px;
}
.card i{
    margin-right: 15px;
    color: tomato;
}
.cards{
    padding: 100px;
width: 40%;
padding-right: 0;
}


.last-card{
    background-color: tomato;
    color: black;
display: flex;
justify-content: center;
align-items: center;
border-radius: 5px;
}


.program-schedule{
    display: flex;
    padding: 70px;
    margin-right: 100px;
}
.card1{
    
    padding-top: 90px;
    width: 600px;
   
}
.card1 img{
    width: 650px;
    height: 250px;
    border-radius: 8px;
    margin-right: 100px;
}
/* class schedule section */
 .class-schedule{
    background-image: url(images/bg4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
text-align: center;
padding-top: 100px;
}
.schedule h1,p,i{
  margin-top: 20px;
}
 .routine {
        display: grid;
        grid-template-columns: repeat(4, 200px);
        height: 600px;
        grid-template-rows: repeat(5, 90px);
        margin-left: 280px;
        margin-top: 100px;
    }

    .day {
        /* font-size: 3em; */
        display: flex;
        justify-content: center;
        align-items: center;
        border:solid 1px gray;
        border-radius: 10px;
    }

    /* expert-section */
    .expert-section{
        padding-top: 100px;

    }
    .expert-top{
        text-align: center;
    }
   
/*  */
.trainer-card{
    width: 300px;
    margin: 10px;
    background-color: white;
 padding: 15px;
height: 450px;
    box-sizing: border-box;
    box-shadow: 6px 12px 10px black;
    border-radius: 10px; 
}
.trainer-card-body{
    padding: 10px;
}
.trainer-card-desc i{
    font-size: 1.2rem;
    margin-right: 8px;
}
.trainer-card-desc{
    text-align: justify;
    line-height: 1.5;

}
.trainer-cards{
    box-sizing: border-box;
    display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px;
}

/* map and form section */
.login-section{
    display: flex;
    margin-top: 100px;
}
.login-container{
    display: flex;
    flex-direction: column;
    width:100%;
    padding: 50px ;
    
    background-image: url(images/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.login-form{
    display: flex;
    flex-direction: column;
background-color: lightyellow;
padding: 15px;
width: 500px;
height: 300px;
}
.login-form input ,textarea{
    font-size: 1em;
    border: 1px solid black;
    padding:5px;
    margin: 10px;
   margin-top: 5px;
   width: 400px;
    }
 #submit{
     margin-top: 15px;
     width: 200px;
     padding: 20px 40px;
     background-color: tomato;
     border: 0;
     border-radius: 5px;
 }
 /* footer design */
 footer{
     background-color: black;
text-align: center;
color: white;
padding: 15px 40px;
 }